.git/
.gitignore
.idea/
.mutagen/
var/
vendor/
node_modules/
.bash_history
dockerfile
makefile
makefile.*
mutagen.yml
mutagen.yml.lock
docker-compose.*
#deployment/include/php/bin/update.sh

.env.*
!.env.dist
!.env.test
