version: '3.4'

volumes:
  xdg_cache_data:

  code:
    driver_opts:
      type: none
      o: bind
      device: ./

  composer:
    driver_opts:
      type: none
      o: bind
      device: ${HOME}/.composer
