version: "3.4"

services:
  db:
    volumes:
      - ./deployment/include/mysql:/docker-entrypoint-initdb.d:ro
    env_file:
      - .env.docker.db.local
    ports:
      - "3307:3306"

  php:
    depends_on:
      - db
